.container {
  padding-top: 30px;
  padding-bottom: 30px; }

#createMovie {
  border: 6px double #e2e2e2;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto 20px auto; }

/* section {
  display: flex;
}
 */
article {
  border: 2px solid #e2e2e2;
  border-radius: 5px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  height: 700px; }

.col-md-4 {
  width: 32%;
  margin-right: 15px; }

#updatePost {
  display: none; }

img {
  width: 300px;
  height: 400px;
  margin: auto;
  padding-bottom: 10px;
  margin-left: 25px; }

.submitEdit {
  display: none; }

.show {
  display: block; }
